body {
    font-family: "Geist Mono", monospace;
    background-color: #001845;
    color: #ffffff;
    text-align: justify;
    margin: 0;
    padding: 0;

}

header {
    background-color: #001845; 
    padding: 20px 0; 
    text-align: center; 
}

.container {
    max-width: 1200px; 
    margin: 0 auto; 
    text-align: center; 
}

header h1 {
    color: #fff; 
    font-size: 60px;
    font-family: 'Geist Mono', monospace;
    margin: 0; 
}

.language-switch {
    margin-top: 10px; 
}

.language-switch img {
    width: 24px; 
    margin: 0 5px; 
    cursor: pointer; 
}

.language-switch a {
    display: inline-block; 
}

nav {
    background-color: #33415c;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #0353a4;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}



